
body {
  background: url('poli.png') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.login-container {
  background: rgba(171, 170, 170, 0.5);
  backdrop-filter: blur(2px);
  padding: 40px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  width: 340px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.logo {
  width: 200px;
  margin-bottom: 10px;
}


input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  font-size: 14px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #0056d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #003fa3;
}


.remember {
  text-align: left;
  font-size: 14px;
}


.footer {
  font-size: 12px;
  margin-top: 15px;
  color: #ddd;
}
